@media screen and (max-width: 600px) {
    .p7O8werba4L4L_img>a>img {
        width: 142px;
    }
    .hero-content > h1 {
        font-size: 36px;
        line-height: normal;
        font-weight: 600;
    }
    .p7O8werba4L4L_btn>a {
        display: flex;
        margin: 0 3px;
    }
    .review-container {
        display: flex;
        flex-direction: column;
    }
    .review-card {
        width: 100%;
    }
    .p7O8werba4L4L_btn>a>button {
        padding: 8px 20px;
    }
    .faq-answer {
        font-size: 14px;
        line-height: 22px;
    }
    .faq {
        padding: 60px 0px 50px 0px;
    }
    .p7O8werba4L4L_btn>a>button.log {
        padding: 7px 20px;
    }
    .faq-container {
        width: 100%;
    }

    .footer-content h2 {
        font-size: 26px;
        margin-bottom: 22px;
    }
    .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 5px;
    }
    .mega-footer {
        width: 100%;
        padding: 40px 0px 20px 0px;
        clip-path: unset;
        top: 2px;
    }

    .footer-brand-logo {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-links a {
        padding: 4px 0px;
    }
    .footer-links {
        display: flex;
        gap: 12px;
        margin-top: 0px;
        flex-wrap: wrap;
    }
    button.hero-btn {
        padding: 14px 20px;
        font-size: 18px;
    }
    .hero-banner {
        padding: 100px 0px;
    }
    .about-context > h2 {
        font-size: 28px;
        padding-bottom: 15px;
    }
    .about {
        padding: 50px 0px 0px 0px;
    }
    .review {
        padding: 40px 0px;
    }
    .sub-title-review {
        font-size: 30px;
        padding-bottom: 30px;
    }
    .faq-subtitle > h2 {
        font-size: 30px;
        padding-bottom: 30px;
    }
    .faq-question {
        font-size: 15px;
    }
    .result-page-wrapper {
        padding: 0px 0px 60px 0px;
    }
    .heading-wrapper > h1 {
        font-size: 30px;
        padding-bottom: 30px;
    }
}